<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>RoadTable</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">


    <div class="container-fluid intro">
      <div class="row">

      </div>
      <div class="row">
        <div class="col-md-8 headline-container">
          <%= image_tag "dark_logo.png", class: "logo img-responsive" %>
          <h1>RoadTable is a native iOS application powered by a RESTful Ruby on Rails API.</h1>
          <h4>
            All source code for this project can be found on
            <a target="_blank" href="http://www.github.com/roadtable">GitHub</a>.
          </h4>
        </div>
        <div class="col-md-4 text-center iphone-container">
          <%= image_tag "roadtable_iphone_mockup.png", class: "mock-iphone img-responsive" %>
        </div>
      </div>
    </div>

    <div class="container-fluid video-section">
      <div class="row">
        <div class="col-md-6 col-md-push-6 see-it-container text-center">
          <h2>See it in action.</h2>
        </div>
        <div class="col-md-6 col-md-pull-6 video-container">
          <div class="embed-responsive embed-responsive-16by9">
            <!-- <iframe class="video" width="420" height="315" src="https://www.youtube.com/embed/CFcR96SPF2w" allowfullscreen></iframe> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/fHweuj7RcwM" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid bio-section">
      <div class="row text-center">
        <h2>Meet the Makers</h2>
      </div>
      <div class="row top-margin">
        <div class="col-md-4 col-md-offset-2 text-center">
          <%= image_tag "danny_headshot.jpg", class: "headshot" %>
          <h2>Danny Beyrer</h2>
          <ul class="bio-links">
            <li><a target="_blank" href="http://www.github.com/beyrerdn">GitHub</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/danielbeyrer">LinkedIn</a></li>
            <li><a target="_blank" href="http://dannybeyrer.ghost.io/">Blog</a></li>
          </ul>
        </div>

        <div class="col-md-4 text-center">
          <%= image_tag "caleb_headshot.jpg", class: "headshot" %>
          <h2>Caleb Francis</h2>
          <ul class="bio-links">
            <li><a target="_blank" href="http://www.github.com/calebonesimus">GitHub</a></li>
            <li><a target="_blank" href="https://www.linkedin.com/in/calebfrancis">LinkedIn</a></li>
            <li><a target="_blank" href="http://www.calebfrancis.com">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="push"></div>
  </div>

  <div class="footer container-fluid">
    <div class="row text-center">
      <%= image_tag "dark_logo.png", class: "sm-logo" %>
    </div>
    <div class="row text-center">
      <p>Copyright 2015</p>
    </div>
  </div>

</body>
</html>
